<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<nav th:fragment="nav" class="navbar navbar-light row navbar-expand-md nav-invert" role="navigation">
  <button id="nav-toggle" type="button" class="ui-navbar-toggler navbar-toggler border-0 p-0" data-toggle="collapse" data-target=".navbar-27707" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse navbar-27707">
    <ul class="site-navigation nav navbar-nav">
      <li class="nav-item">
        <a href="loginup.html" th:href="@{/}" class="nav-link a-btn ltc-white">首页</a>
      </li>
      <li th:if="${session.nowUser.ifHasRight(1)}" class="nav-item">
        <a href="contract/draft.html" th:href="@{/toDraft}" class="nav-link  ltc-white">起草合同</a>
      </li>
      <li th:if="${session.nowUser.ifHasRight(5)}" class="nav-item">
        <a href="select.html" th:href="@{/toSelectContract}" class="nav-link  ltc-white">会签合同</a>
      </li>
      <li th:if="${session.nowUser.ifHasRight(2)}" class="nav-item">
        <a href="finalization.html" th:href="@{/toSelectContract}" class="nav-link a-btn ltc-white">定稿合同</a>
      </li>
      <li th:if="${session.nowUser.ifHasRight(6)}" class="nav-item">
        <a href="approval.html" th:href="@{/toSelectContract}" class="nav-link a-btn ltc-white">审批合同</a>
      </li>
      <li th:if="${session.nowUser.ifHasRight(7)}" class="nav-item">
        <a href="sign.html" th:href="@{/toSelectContract}" class="nav-link a-btn ltc-white">签订合同</a>
      </li>
      <li th:if="${session.nowUser.ifHasRight(11)}" class="nav-item">
        <a href="sign.html" th:href="@{/toSelectAllContract}" class="nav-link a-btn ltc-white">查询统计</a>
      </li>
    </ul>
  </div>
  <a class="navbar-brand mr-0" href="/toMe"> <span th:text="${session.nowUser.getUsername()}">xzx</span> <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16"><path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/></svg></a>

</nav>


</body>
</html>