<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="bjtu.pt.easycontracts.mapper.RightsMapper" >
  <resultMap id="BaseResultMap" type="bjtu.pt.easycontracts.pojo.table.Rights" >
    <id column="Use_userId" property="useUserid" jdbcType="INTEGER" />
    <id column="rol_rightId" property="rolRightid" jdbcType="INTEGER" />
    <result column="userId" property="userid" jdbcType="INTEGER" />
    <result column="rightId" property="rightid" jdbcType="INTEGER" />
    <result column="description" property="description" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    Use_userId, rol_rightId, userId, rightId, description
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="bjtu.pt.easycontracts.pojo.table.RightsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from rights
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="bjtu.pt.easycontracts.pojo.table.RightsKey" >
    select 
    <include refid="Base_Column_List" />
    from rights
    where Use_userId = #{useUserid,jdbcType=INTEGER}
      and rol_rightId = #{rolRightid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="bjtu.pt.easycontracts.pojo.table.RightsKey" >
    delete from rights
    where Use_userId = #{useUserid,jdbcType=INTEGER}
      and rol_rightId = #{rolRightid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="bjtu.pt.easycontracts.pojo.table.RightsExample" >
    delete from rights
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="bjtu.pt.easycontracts.pojo.table.Rights" >
    insert into rights (Use_userId, rol_rightId, userId, 
      rightId, description)
    values (#{useUserid,jdbcType=INTEGER}, #{rolRightid,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, 
      #{rightid,jdbcType=INTEGER}, #{description,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="bjtu.pt.easycontracts.pojo.table.Rights" >
    insert into rights
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="useUserid != null" >
        Use_userId,
      </if>
      <if test="rolRightid != null" >
        rol_rightId,
      </if>
      <if test="userid != null" >
        userId,
      </if>
      <if test="rightid != null" >
        rightId,
      </if>
      <if test="description != null" >
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="useUserid != null" >
        #{useUserid,jdbcType=INTEGER},
      </if>
      <if test="rolRightid != null" >
        #{rolRightid,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="rightid != null" >
        #{rightid,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="bjtu.pt.easycontracts.pojo.table.RightsExample" resultType="java.lang.Integer" >
    select count(*) from rights
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update rights
    <set >
      <if test="record.useUserid != null" >
        Use_userId = #{record.useUserid,jdbcType=INTEGER},
      </if>
      <if test="record.rolRightid != null" >
        rol_rightId = #{record.rolRightid,jdbcType=INTEGER},
      </if>
      <if test="record.userid != null" >
        userId = #{record.userid,jdbcType=INTEGER},
      </if>
      <if test="record.rightid != null" >
        rightId = #{record.rightid,jdbcType=INTEGER},
      </if>
      <if test="record.description != null" >
        description = #{record.description,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update rights
    set Use_userId = #{record.useUserid,jdbcType=INTEGER},
      rol_rightId = #{record.rolRightid,jdbcType=INTEGER},
      userId = #{record.userid,jdbcType=INTEGER},
      rightId = #{record.rightid,jdbcType=INTEGER},
      description = #{record.description,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="bjtu.pt.easycontracts.pojo.table.Rights" >
    update rights
    <set >
      <if test="userid != null" >
        userId = #{userid,jdbcType=INTEGER},
      </if>
      <if test="rightid != null" >
        rightId = #{rightid,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
    </set>
    where Use_userId = #{useUserid,jdbcType=INTEGER}
      and rol_rightId = #{rolRightid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="bjtu.pt.easycontracts.pojo.table.Rights" >
    update rights
    set userId = #{userid,jdbcType=INTEGER},
      rightId = #{rightid,jdbcType=INTEGER},
      description = #{description,jdbcType=VARCHAR}
    where Use_userId = #{useUserid,jdbcType=INTEGER}
      and rol_rightId = #{rolRightid,jdbcType=INTEGER}
  </update>
</mapper>