<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="bjtu.pt.easycontracts.mapper.RoleRightMapper" >
  <resultMap id="BaseResultMap" type="bjtu.pt.easycontracts.pojo.table.RoleRight" >
    <id column="rightId" property="rightid" jdbcType="INTEGER" />
    <result column="rightName" property="rightname" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="functions" property="functions" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    rightId, rightName, description, functions
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="bjtu.pt.easycontracts.pojo.table.RoleRightExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from role_right
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from role_right
    where rightId = #{rightid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from role_right
    where rightId = #{rightid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="bjtu.pt.easycontracts.pojo.table.RoleRightExample" >
    delete from role_right
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="bjtu.pt.easycontracts.pojo.table.RoleRight" >
    insert into role_right (rightId, rightName, description, 
      functions)
    values (#{rightid,jdbcType=INTEGER}, #{rightname,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{functions,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="bjtu.pt.easycontracts.pojo.table.RoleRight" >
    insert into role_right
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="rightid != null" >
        rightId,
      </if>
      <if test="rightname != null" >
        rightName,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="functions != null" >
        functions,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="rightid != null" >
        #{rightid,jdbcType=INTEGER},
      </if>
      <if test="rightname != null" >
        #{rightname,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="functions != null" >
        #{functions,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="bjtu.pt.easycontracts.pojo.table.RoleRightExample" resultType="java.lang.Integer" >
    select count(*) from role_right
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update role_right
    <set >
      <if test="record.rightid != null" >
        rightId = #{record.rightid,jdbcType=INTEGER},
      </if>
      <if test="record.rightname != null" >
        rightName = #{record.rightname,jdbcType=VARCHAR},
      </if>
      <if test="record.description != null" >
        description = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.functions != null" >
        functions = #{record.functions,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update role_right
    set rightId = #{record.rightid,jdbcType=INTEGER},
      rightName = #{record.rightname,jdbcType=VARCHAR},
      description = #{record.description,jdbcType=VARCHAR},
      functions = #{record.functions,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="bjtu.pt.easycontracts.pojo.table.RoleRight" >
    update role_right
    <set >
      <if test="rightname != null" >
        rightName = #{rightname,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="functions != null" >
        functions = #{functions,jdbcType=VARCHAR},
      </if>
    </set>
    where rightId = #{rightid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="bjtu.pt.easycontracts.pojo.table.RoleRight" >
    update role_right
    set rightName = #{rightname,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      functions = #{functions,jdbcType=VARCHAR}
    where rightId = #{rightid,jdbcType=INTEGER}
  </update>
</mapper>